USE [CultureGR]
GO
/****** Object:  Table [dbo].[MAINTENANCE_EXHIBITS]    Script Date: 9/1/2025 23:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAINTENANCE_EXHIBITS](
	[mnt_id] [int] NOT NULL,
	[mnt_desc] [nvarchar](50) NULL,
	[maintenance_exh_id] [int] NOT NULL,
	[maintenance_name_collection] [nvarchar](50) NULL,
	[museum_id] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MAINTENANCE_EXHIBITS]  WITH CHECK ADD  CONSTRAINT [FK_MAINTENANCE_EXHIBITS_EXHIBITS] FOREIGN KEY([maintenance_exh_id])
REFERENCES [dbo].[EXHIBITS] ([exh_id])
GO
ALTER TABLE [dbo].[MAINTENANCE_EXHIBITS] CHECK CONSTRAINT [FK_MAINTENANCE_EXHIBITS_EXHIBITS]
GO
ALTER TABLE [dbo].[MAINTENANCE_EXHIBITS]  WITH CHECK ADD  CONSTRAINT [FK_MAINTENANCE_EXHIBITS_MUSEUMS] FOREIGN KEY([museum_id])
REFERENCES [dbo].[MUSEUMS] ([mus_id])
GO
ALTER TABLE [dbo].[MAINTENANCE_EXHIBITS] CHECK CONSTRAINT [FK_MAINTENANCE_EXHIBITS_MUSEUMS]
GO
