USE [CultureGR]
GO
/****** Object:  Table [dbo].[RESTORES_EXHIBITIS]    Script Date: 9/1/2025 23:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTORES_EXHIBITIS](
	[res_id] [int] NOT NULL,
	[res_name] [text] NULL,
	[restore_exh_id] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[RESTORES_EXHIBITIS]  WITH CHECK ADD  CONSTRAINT [FK_RESTORES_EXHIBITIS_EXHIBITS] FOREIGN KEY([restore_exh_id])
REFERENCES [dbo].[EXHIBITS] ([exh_id])
GO
ALTER TABLE [dbo].[RESTORES_EXHIBITIS] CHECK CONSTRAINT [FK_RESTORES_EXHIBITIS_EXHIBITS]
GO
