USE [CultureGR]
GO
/****** Object:  Table [dbo].[CALENDAR]    Script Date: 11/1/2025 02:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALENDAR](
	[cal_id] [int] NULL,
	[cmonth] [date] NULL,
	[cyear] [date] NULL
) ON [PRIMARY]
GO
