USE [CultureGR]
GO
/****** Object:  Table [dbo].[TIME_PERIODS]    Script Date: 21/1/2025 00:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIME_PERIODS](
	[p_id] [int] NOT NULL,
	[per_name] [ntext] NULL,
	[per_time_start] [ntext] NULL,
	[per_time_end] [ntext] NULL,
	[per_desc] [text] NULL,
 CONSTRAINT [PK_TIME_PERIODS] PRIMARY KEY CLUSTERED 
(
	[p_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
