USE [CultureGR]
GO
/****** Object:  Table [dbo].[EXHIBITS]    Script Date: 21/1/2025 00:26:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXHIBITS](
	[exh_id] [int] NOT NULL,
	[name_collection] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EXHIBITS] PRIMARY KEY CLUSTERED 
(
	[exh_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EXHIBITS]    Script Date: 21/1/2025 00:26:32 ******/
CREATE NONCLUSTERED INDEX [IX_EXHIBITS] ON [dbo].[EXHIBITS]
(
	[name_collection] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
